.login_and_register_container{
  margin-top: 80px;
}

.LogoCoffe{
  height: 37px ;

}

.LogoCoffePc{
  height: 37px ;
  
}

.LogoCoffeCelu{
  height: 37px;
  display: none;
}

body{
  background-color: rgb(179, 146, 146);
}
/* From uiverse.io by @satyamchaudharydev */
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}
.p_color_error{

  color: red;
}
.tittle{
  height: 50% !important;
}
/* footer */
.copyright-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(236, 227, 227, 0.3);
}

.copyright{
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

.footer-menus{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

.footer-container{
  height: fit-content;
  width: 100%;
  padding: 3rem 6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer .website-logo{
  margin-bottom: 1.2rem;
  font-size: calc(1vw + 20px);
}

.footer-info, .menu-item-footer{
  margin: 0.2rem 0;
  opacity: 0.7;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.5s;
}

.menu-item-footer:hover{
  opacity: 1;
}

.menu-title{
  font-size: var(--medium-text-font);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

.social-link{
  height: 100%;
  width: 30px;
  
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat;
}

.social-link:hover{
  opacity: 0.7;
}






/*MEDIA QUERY*/
@media (max-width: 768px){
  
  .footer-container{
      padding: 2rem;
      flex-direction: column;
  }

  .footer-content-container{
      width: 100%;
      padding: 2rem 0;
      border-bottom: 1px solid #2A2A2A;
      justify-content: center;
      align-items: center;
  }

  .footer-content-container:nth-of-type(1){
      align-items: flex-start;
  }
  .footer-content-container:nth-of-type(3){
      border-bottom: none;
      padding-bottom: 0;
  }

  .footer-menus{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid #2A2A2A;
  }

  .footer-menus .footer-content-container:nth-of-type(1){
      width: 45%;
      align-items: flex-start;
      border-bottom: none;
  }
  .footer-menus .footer-content-container:nth-of-type(2){
      width: 45%;
      align-items: flex-start;
      border-bottom: none;
  }
}
.social-link{
  color: black;
}

.link-admin-menu{
  text-decoration: none;
  color: black;
}
